.card {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  width: 18rem;
  text-align: center;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}

.gitlab_card {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  width: 23rem;
  text-align: center;
  margin: 10px;
}

.gitlab_card:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}

.gitlab_image {
  width: 100px;
  height: 14rem;
  object-fit: cover;
  /* border-radius: 50%; */
}

.tool_card {
  transition: box-shadow 0.3s;
  /* width: 20rem; */
  margin: 10px;
  /* height: 14rem; */
}

.tool_card:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}


.pagination {
  justify-content: center;
}


.header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 45px;
}