.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .author{
    font-family: Arial;
    font-size: 30px;
    margin-top: 15px;
    margin-left:900px;
  }

  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-bottom: 40px; */
  }

  .paragraph{
    display: flex;
    margin-left: 200px;
    /* margin-bottom: 10px; */
  }

  .video{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 80px;
    /* margin-left: 200px;
    margin-right: 200px; */
    margin-bottom: 80px;
  }

  .fontStype{
    font-weight: bold;
    font-family : "Serif";
    font-size : 16px;
  }