.paragraph{

    justify-content: center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;

  }

  .pagination {
    justify-content: center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
  }