.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.info{
    display: flex;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.paragraph{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
    
  }

  .video{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
  }

/* 
  .author{
    font-family: Arial;
    font-size: 30px;
    margin-top: 15px;
    margin-left:900px;
  }

  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
  } */


  .fontStype{
    font-weight: bold;
    font-family : "Serif";
    font-size : 16px;
  }