.cardHome {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  width: 18rem;
  height: 18rem;
  text-align: center;
  margin: 120px;
}

.cardHome:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}

/* To make the bootstrap card image fit on card */
.cardHome-img-top {
  /* width: 15px;
  height: 15px;
  object-fit: cover; */
  width: 100%; height: 15vw; object-fit: cover; 
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 45px;
}
