.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .author{
    font-family: Arial;
    font-size: 30px;
    margin-top: 15px;
    margin-left:900px;
  }

  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
  }

  .paragraph{
    display: flex;
    margin-left: 200px;
    margin-bottom: 10px;
  }

  .video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
  }.cardHome {
    transition: box-shadow 0.3s;
    border-radius: 10px;
    width: 18rem;
    height: 18rem;
    text-align: center;
    margin: 120px;
  }
  
  .cardHome:hover {
    box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
  }

  .pagination {
    justify-content: center;
  }
  /* To make the bootstrap card image fit on card */
  .cardHome-img-top {
    /* width: 15px;
    height: 15px;
    object-fit: cover; */
    width: 100%; height: 15vw; object-fit: cover; 
  }

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 45px;
  }

  .fontStype{
    font-weight: bold;
    font-family : "Serif";
    font-size : 14px;
  }

  .tool_card {
    transition: box-shadow 0.3s;
    /* width: 20rem; */
    margin: 10px;
    /* height: 14rem; */
  }
  
  .tool_card:hover {
    box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
  }
  