.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  }

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 80px;
}


.video{
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 80px;
}

.fontStype{
  font-weight: bold;
  font-family : "Serif";
  font-size : 16px;
}